@import url('https://fonts.googleapis.com/css2?family=Solway&display=swap');

.App {
  text-align: center;
  font-family: 'Solway', serif;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control, button, select{
  width: 250px;
  margin-bottom: 20px;
}

#reg-header{
  margin-top: 40px;
  margin-bottom: 30px;
  padding-top: 20px;
}

#reg{
margin: 0px auto;
width: 85%;
background-color: lightgray;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body{
  background-color: #B0E0E6;
}